<!DOCTYPE html>
<html>
<head>
  <title>Jungle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/top_nav' %>
  <main class="container">
  <% if current_user %>
  Signed in as <%= current_user.name %> | <button class="userButton"><%= link_to "Logout", '/logout' %></button>
<% else %>
<button class="userButton"><%= link_to 'Login', '/login' %></button> | <button class="userButton"><%= link_to 'Signup', '/signup' %></button>
<% end %>
</main>
  <main class="container">
  <%= yield %>
  </main>

  <%= yield :end_of_body %>
</body>
</html>
